
<div class="container-fluid mt-5 about-style " id="aboutid">
    <div class="row">
<div class="col-md-10 col-12 mx-auto">
    <h1 class="text-center main-heading">About Us</h1>
    <p class="text-center sub-heading"> grow your business with us</p>

    <div class="col-md-6 col-12 hero-text ">

        <figure>
            <img src="images/about.svg" alt="background-images">
        </figure>

    </div>


<div class="row">
    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-center flex-column">
        <h1> WE WILL HELP YOU </h1>
        
        <P>We have the team of <span class="bold-style">professional caretaker! </span> 
         You are the best person and please
        donot forget to contribute in our agency.We are 
    run to serve the community all over Nepal</P>
        <button class="btn-style btn-primary">Read More</button>

    </div>




</div>

</div>

    </div>
</div>
